.main{
    height: 100%;
    background-color:rgb(111, 189, 163);
}

.head{
    text-align: center;
    padding-top: 30px;
    color: white;
    text-decoration: underline overline;
    text-underline-offset: 8px;
}

.btndiv{
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.btn{
    font-size: 30px;
    padding: 30px;
    background-color: none;
    border: 1px solid orange;
}

.btn:hover{
    border: none;
    background-color: rgb(206, 204, 204);
    /* font-size: 30px; */
}